@theme {
	--color-red-50: #fff5f5;
	--color-red-100: #fde3e4;
	--color-red-200: #faccce;
	--color-red-300: #f4a8ae;
	--color-red-400: #e77a86;
	--color-red-500: #df5f72;
	--color-red-600: #bb5261;
	--color-red-700: #9c4551;
	--color-red-800: #803b43;
	--color-red-900: #693238;
	--color-red-950: #3f2023;
	--color-blue-50: #f7f6fe;
	--color-blue-100: #e8e8fc;
	--color-blue-200: #d5d5fa;
	--color-blue-300: #b7bbf6;
	--color-blue-400: #8b97ef;
	--color-blue-500: #6a82eb;
	--color-blue-600: #4c72e8;
	--color-blue-700: #425dba;
	--color-blue-800: #394d97;
	--color-blue-900: #323f7b;
	--color-blue-950: #222848;
	--color-green-50: #f3f9f6;
	--color-green-100: #e0eee6;
	--color-green-200: #c8e0d4;
	--color-green-300: #a2ccb7;
	--color-green-400: #6eaf92;
	--color-green-500: #3e9874;
	--color-green-600: #3a8b6a;
	--color-green-700: #337359;
	--color-green-800: #2c5f4a;
	--color-green-900: #264f3d;
	--color-green-950: #1b3026;
	--color-yellow-50: #fff8e1;
	--color-yellow-100: #fbeaaa;
	--color-yellow-200: #f2da64;
	--color-yellow-300: #e6ce17;
	--color-yellow-400: #b4a11c;
	--color-yellow-500: #9d8d1c;
	--color-yellow-600: #897b1c;
	--color-yellow-700: #73661a;
	--color-yellow-800: #5e5419;
	--color-yellow-900: #4e4517;
	--color-yellow-950: #302a12;
	--color-purple-50: #f8f6fc;
	--color-purple-100: #ede6f7;
	--color-purple-200: #dfd3f0;
	--color-purple-300: #cab6e7;
	--color-purple-400: #ab8fd9;
	--color-purple-500: #9877d0;
	--color-purple-600: #8b68ca;
	--color-purple-700: #6f549f;
	--color-purple-800: #5c4582;
	--color-purple-900: #4c3a6b;
	--color-purple-950: #2f243f;
	--color-slate-50: #f7f7f9;
	--color-slate-100: #e9e9ec;
	--color-slate-200: #d8d9de;
	--color-slate-300: #bebfc8;
	--color-slate-400: #9c9fab;
	--color-slate-500: #888a9a;
	--color-slate-600: #75788a;
	--color-slate-700: #606478;
	--color-slate-800: #4d5268;
	--color-slate-900: #3f445b;
	--color-slate-950: #17213a;

	--color-primary-light: var(--color-purple-100);
	--color-primary: var(--color-purple-600);
	--color-primary-hover: var(--color-purple-700);
	--color-primary-dark: var(--color-purple-800);

	--color-info-light: var(--color-blue-100);
	--color-info: var(--color-blue-600);
	--color-info-hover: var(--color-blue-700);
	--color-info-dark: var(--color-blue-800);

	--color-success-light: var(--color-green-100);
	--color-success: var(--color-green-500);
	--color-success-hover: var(--color-green-700);
	--color-success-dark: var(--color-green-800);

	--color-warning-light: var(--color-yellow-100);
	--color-warning: var(--color-yellow-700);
	--color-warning-hover: var(--color-yellow-800);
	--color-warning-dark: var(--color-yellow-900);

	--color-error-light: var(--color-red-100);
	--color-error: var(--color-red-500);
	--color-error-hover: var(--color-red-700);
	--color-error-dark: var(--color-red-800);
}
