div.home-bg {
	background-image: url('/images/og_image.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

div.page-bg {
	background-image: url('/images/background.png');
	background-repeat: round;
}

#top-banner {
	background-image: url('/images/banner.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 200px;
}

.heading-text {
	text-shadow: -1px 1px 8px var(--bs-dark), 1px 1px 8px var(--bs-dark), 1px -1px 8px var(--bs-dark),
		-1px -1px 8px var(--bs-dark);
}

.fa-facebook-f.brand-color {
	color: #4267b2;
}

.facebook-btn:not(:hover) {
	background: #4267b2;
}

.fa-twitter.brand-color {
	color: #1da1f2;
}

.twitter-btn:not(:hover) {
	background: #1da1f2;
}
