@import 'tailwindcss';
@import './colors.css';

@theme {
	--font-serif: var(--font-roboto-slab);
	--text-shadow-outlined:
		-1px 1px 8px var(--color-black), 1px 1px 8px var(--color-black),
		1px -1px 8px var(--color-black), -1px -1px 8px var(--color-black);
}

@layer base {
	body {
		font-family: var(--font-serif);
	}
	a {
		color: var(--color-primary);
	}
	a:hover {
		color: var(--color-primary-dark);
		text-decoration: underline;
	}
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;
}
