@import url('https://stackpath.bootstrapcdn.com/bootswatch/4.4.0/journal/bootstrap.min.css');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.jumbotron {
	background-image: url('/images/background.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	text-shadow: -1px 1px 8px var(--dark), 1px 1px 8px var(--dark), 1px -1px 8px var(--dark),
		-1px -1px 8px var(--dark);
}

.header-logo {
	height: 128px;
	width: 128px;
	display: inline-block;
	border-radius: 50%;
	background-image: url('/images/slant-bubbles/bubble-center.png');
	background-position: right bottom;
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.7;
}

img.bubble-img {
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.facebook-btn:not(:hover) {
	background: #4267b2;
}

.twitter-btn:not(:hover) {
	background: #1da1f2;
}

.rounded-xl {
	border-radius: 0.75rem !important;
}

.rounded-top-xl {
	border-radius: 0.75rem 0.75rem 0rem 0rem !important;
}

.rounded-bottom-xl {
	border-radius: 0rem 0rem 0.75rem 0.75rem !important;
}

@import url('./search-form.css');
