@import url('https://cdn.jsdelivr.net/npm/bootswatch@5.0.0/dist/journal/bootstrap.min.css');
@import url('https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

div.home-bg {
	background-image: url('/images/banner.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.page-bg {
	background-image: url('/images/background.png');
	background-repeat: repeat-y;
	background-size: 100% auto;
}

body :not(i) {
	font-family: 'Roboto Slab', serif !important;
}

#top-banner {
	background-image: url('/images/banner.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 200px;
}

.heading-text {
	text-shadow: -1px 1px 8px var(--bs-dark), 1px 1px 8px var(--bs-dark), 1px -1px 8px var(--bs-dark),
		-1px -1px 8px var(--bs-dark);
}

img.bubble-img {
	height: 128px;
	width: 128px;
	border-radius: 50%;
}

.facebook-btn:not(:hover) {
	background: #4267b2;
}

.twitter-btn:not(:hover) {
	background: #1da1f2;
}

.rounded-xl {
	border-radius: 0.75rem !important;
}

.rounded-top-xl {
	border-radius: 0.75rem 0.75rem 0rem 0rem !important;
}

.rounded-bottom-xl {
	border-radius: 0rem 0rem 0.75rem 0.75rem !important;
}

@import url('./search-form.css');
