.icon::before {
	display: inline-block;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
}

input[type='radio'],
input[type='checkbox'] {
	position: absolute;
	opacity: 0;
}

input[type='radio'] + label::before,
input[type='checkbox'] + label::before {
	display: inline-block;
	letter-spacing: 0.25rem;
}

input[type='radio']:not(:checked) + label::before {
	font: var(--fa-font-regular);
	font-size: 1.5rem;
	content: '\f111';
	color: var(--bs-secondary);
}
input[type='radio']:checked + label::before {
	font: var(--fa-font-regular);
	font-size: 1.5rem;
	content: '\f192';
	color: var(--bs-primary);
}

input[type='checkbox']:not(:checked):enabled + label::before {
	font: var(--fa-font-regular);
	font-size: 2rem;
	content: '\f0c8';
	color: var(--bs-secondary);
}
input[type='checkbox']:checked:enabled + label::before {
	font: var(--fa-font-regular);
	font-size: 2rem;
	content: '\f14a';
	color: var(--bs-primary);
}
input[type='checkbox']:not(:checked):disabled + label::before {
	font: var(--fa-font-solid);
	font-size: 2rem;
	content: '\f0c8';
	color: var(--bs-secondary);
}
input[type='checkbox']:checked:disabled + label::before {
	font: var(--fa-font-solid);
	font-size: 2rem;
	content: '\f14a';
	color: var(--bs-secondary);
}

input[type='checkbox']:not(:checked).switch + label::before {
	font: var(--fa-font-solid);
	font-size: 2rem;
	content: '\f204';
	color: var(--bs-secondary);
}
input[type='checkbox']:checked.switch + label::before {
	font: var(--fa-font-solid);
	font-size: 2rem;
	content: '\f205';
	color: var(--bs-primary);
}

.form-group:hover input[type='checkbox']:not(:checked):enabled + label::before,
.form-group:hover input[type='radio']:not(:checked):enabled + label::before {
	color: var(--bs-dark);
}

input:focus + label::before {
	outline: var(--bs-primary) auto 5px;
}

input[type='range'] {
	-webkit-appearance: none;
	height: 1rem;
	border-radius: 0.75rem;
	background: var(--bs-info);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

input[type='range']:hover,
input[type='range']:focus {
	opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}
