.hiddenInput {
	position: absolute;
	opacity: 0;
}

.iconInput {
	display: inline-block;
	letter-spacing: 0.25rem;
}

:global(.form-group):hover .hiddenInput:not(:checked):enabled + label .iconInput {
	color: var(--bs-dark);
}

.hiddenInput:focus + label .iconInput {
	outline: var(--bs-primary) auto 5px;
}

.range {
	-webkit-appearance: none;
	height: 1rem;
	border-radius: 0.75rem;
	background: var(--bs-info);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.range:hover,
.range:focus {
	opacity: 1;
}

.range::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}

.range::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}
