.form-group input[type='radio'],
.form-group input[type='checkbox'] {
	position: absolute;
	opacity: 0;
}

.form-group input[type='radio'] + label::before,
.form-group input[type='checkbox'] + label::before {
	font-family: FontAwesome;
	font-size: 2rem;
	display: inline-block;
	letter-spacing: 0.25rem;
}

.form-group input[type='radio']:not(:checked) + label::before {
	content: '\f10c';
	color: var(--bs-secondary);
}
.form-group input[type='radio']:checked + label::before {
	content: '\f192';
	color: var(--bs-info);
}

.form-group input[type='checkbox']:not(:checked):enabled + label::before {
	content: '\f096';
	color: var(--bs-secondary);
}
.form-group input[type='checkbox']:checked:enabled + label::before {
	content: '\f046';
	color: var(--bs-info);
}
.form-group input[type='checkbox']:not(:checked):disabled + label::before {
	content: '\f0c8';
	color: var(--bs-secondary);
}
.form-group input[type='checkbox']:checked:disabled + label::before {
	content: '\f14a';
	color: var(--bs-secondary);
}

.form-group input[type='checkbox']:not(:checked).switch + label::before {
	content: '\f204';
	color: var(--bs-secondary);
}
.form-group input[type='checkbox']:checked.switch + label::before {
	content: '\f205';
	color: var(--bs-info);
}

.form-group:hover input[type='checkbox']:not(:checked):enabled + label::before,
.form-group:hover input[type='radio']:not(:checked):enabled + label::before {
	color: var(--bs-dark);
}

input:focus + label::before {
	outline: var(--bs-info) auto 5px;
}

input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
	height: 1rem;
	border-radius: 0.75rem;
	background: var(--bs-info);
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

input[type='range']:hover,
input[type='range']:focus {
	opacity: 1;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}

input[type='range']::-moz-range-thumb {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	border: 2px solid var(--bs-info);
	background: var(--bs-white);
	cursor: pointer;
}
