div.color-bubble-container {
	position: relative;
	height: 7rem;
	width: 7rem;
}

div.color-bubble {
	position: absolute;
	height: 7rem;
	width: 7rem;
	bottom: 0;
	left: 2rem;
	right: 0;
	top: 0;
}

img.bubble-img {
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	position: relative;
}

div.color-bubble::after {
	position: absolute;
	height: 7rem;
	width: 7rem;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	content: '';
	border-radius: 50%;
}

div.left::after {
	box-shadow: inset 0 0 3.5rem #3333ff;
}

div.center-left::after {
	box-shadow: inset 0 0 3.5rem #9999ff;
}

div.center::after {
	box-shadow: inset 0 0 3.5rem #ffffff;
}

div.center-right::after {
	box-shadow: inset 0 0 3.5rem #f48b8e;
}

div.right::after {
	box-shadow: inset 0 0 3.5rem #e81b23;
}
